@page "/betting/{fightId:int}/{robotId:int}"


@using PSA.Shared
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Globalization;
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager NavManager

@if (currentUser != null) {
    <div class="row justify-content-center align-content-center">
        <div class="mb-3">
            <p>Coef: @coef</p>
            <label for="bet"><b>Enter your bet</b></label>
            <input class="form-control col-5" placeholder="Enter bet amount" name="bet" @bind="@bet" required>
        </div>
        <button class="btn btn-primary col-3" @onclick="HandleBet">Confirm bet</button>
    </div>

}
else{
    <p>Not logged in</p>
}




@code {
    [Parameter]
    public int fightId { get; set; }
    [Parameter]
    public int robotId { get; set; }

    private List<Bet> allBets;
    double coef = 1;
    public string bet = "";
    private CurrentUser? currentUser;
    private double betAmount = 0;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await Http.GetFromJsonAsync<CurrentUser?>("api/currentuser");
        allBets = await Http.GetFromJsonAsync<List<Bet>>("api/bets/active");
        coef = CalculateCoef(fightId, robotId);
        StateHasChanged();
    }

    public double CalculateCoef(int fight_id, int fk_robot)
    {
        double all_sum = 0;
        double sum = 0;
        double coefic = 2;
        foreach (var bet in allBets)
        {
            if (bet.fk_fight_id == fight_id)
            {
                all_sum += bet.Amount;
                if (bet.fk_robot_id == fk_robot)
                {
                    sum += bet.Amount;
                }
            }
        }

        if (sum == 0)
        {
            sum += 1;
        }
        if (all_sum == 0)
        {
            all_sum += 2;
        }
        coefic = all_sum / sum;
        return coefic;
    }

    public async Task HandleBet()
    {
        bool err = false;
        try
        {
            betAmount = Convert.ToDouble(bet);
        }
        catch (Exception)
        {
            err = true;
            await JS.InvokeVoidAsync("alert", "Bet has to be a numeric value");
        }

        if (!err)
        {
            if (betAmount > currentUser?.balance)
            {
                await JS.InvokeVoidAsync("alert", "Bet cannot exceed your balance");
            }
            else
            {
                Bet bet = new Bet();
                bet.fk_user_id = currentUser.Id;
                bet.fk_fight_id = fightId;
                bet.fk_robot_id = robotId;
                bet.Amount = betAmount;
                bet.Coefficient = coef;
                bet.state = 1;
                await Http.PostAsJsonAsync("api/Bets", bet);
                currentUser.balance -= betAmount;
                await Http.PutAsJsonAsync($"api/Bets/balance", currentUser);
                NavManager.NavigateTo("/betting/bets", forceLoad: true);

            }
        }
    }
}
