@page "/products/view/{id}"
@using PSA.Shared
@inject HttpClient Http
@inject NavigationManager NavManager


@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="product_image_area">
        <div class="container">
            <div class="row justify-content-center">

                <img src="@product.Picture" alt="#" class="product-image">

                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <h3>@product.Name</h3>
                        <p>@product.Description</p>
                        <div class="card_area">
                            <div class="product_count_area">
                                <p>@product.Price</p>
                            </div>
                            <div class="add_to_cart">
                                @if (profile?.LoggedIn == true)
                                {
                                    <button @onclick="()=>AddToCart(product)" class="btn_3">Add to cart</button>
                                }
                                else
                                {
                                    <a href="login" class="btn_3">Log in to add to cart</a>
                                    <a class="btn btn-primary" href="/products/edit/@product.Id">Edit</a>
                                    <a class="btn btn-primary" @onclick="() => RemoveProductFromDB(product.Id)">Remove</a>
                                }
                                @if (@profile?.UserLevel == AccessLevelType.ADMIN)
                                {
                                    <a href="/products/edit">
                                        <button class="btn_1 checkout_btn_1 center">Edit</button>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




}

@code {
    [Parameter]
    public string? id { get; set; }

    private Product? product;
    private CurrentUser? profile;

    protected override async Task OnInitializedAsync()
    {
        profile = await Http.GetFromJsonAsync<CurrentUser>("api/currentuser");
        product = await Http.GetFromJsonAsync<Product?>("api/products/" + id);
    }

    public async Task AddToCart(Product product)
    {
        await Http.PostAsJsonAsync("/api/cart/add", product);
        NavManager.NavigateTo("/products/view/" + id, forceLoad: true);
    }

    public async void RemoveProductFromDB(int id)
    {
        await Http.DeleteAsync($"api/products/{id}");
        await InvokeAsync(() => StateHasChanged());
        NavManager.NavigateTo("/products", forceLoad: true);
    }

}
