@page "/"

<PageTitle>Home</PageTitle>


<main>

    <!-- slider Area Start -->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height" data-background="/Car-images/image2.png">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block" style="z-index: -1">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img style="position:absolute;    z-index:-1;"src="assets/img/hero/hero_man.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay="0s">Broken-down car?</span>
                                <h1 data-animation="fadeInRight" data-delay="0s">Purchase <br> New Parts!</h1>
                                <p data-animation="fadeInRight" data-delay="0s">30 day money back guarantee.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="0s">
                                    <a href="products" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
